@font-face {
  font-family: "Alice";
  src: url("../fonts/Alice-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marmelad";
  src: url("../fonts/Marmelad-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --base-black: #1a1a1a;
  --base-white: #fff;
  --base-text: #e1e1e1;
  --border-color: #4fc3f7;
  --de-color: #dedede;
  --menu-color: #c9c9c9;
  --card-bg: #313131;
  --exit-color: #ff7b00;
  --font-family: "Marmelad";
  --second-family: "Manrope";
  --third-family: "Alice";
}

.white {
  --base-black: #e0e8f6;
  --menu-color: #575757;
  --base-white: #000;
  --base-text: #484e53;
  --card-bg: #a1a1a14f;
  --de-color: #0010a3;
}

.white .header__logo-img {
  box-shadow: 0 0 10px var(--base-white);
}

.white .home__container {
  background-image: url(../images/Gemini.png);
}

.white .btn:hover {
  color: #fff;
  font-weight: 700;
  text-shadow: 0 0 1px var(--base-white);
}

.white p {
  font-weight: 700;
}

.white .footer__top > span,
.white .footer__link > span {
  font-weight: 600;
}

.white .arrow-icon:hover {
  stroke: var(#fff);
  stroke-width: 2px;
}

/* --------------------------------------------- */

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  color: var(--base-text);
  background-color: var(--base-black);
}

section {
  margin-bottom: 50px;
}

h1,
h2,
h3 {
  font-family: var(--font-family);
  color: var(--base-white);
  letter-spacing: 0.1rem;
}

h1 {
  font-size: clamp(48px, 6.3vw, 64px);
}

h2 {
  font-size: clamp(40px, 5.5vw, 56px);
}

h3 {
  font-size: 1.2rem;
}

p {
  font-family: var(--second-family);
  font-size: 1rem;
  letter-spacing: 0.07rem;
}

.container {
  max-width: 1150px;
  padding: 30px 20px;
  margin-inline: auto;
}

.section-title {
  text-align: center;
}

.subtitle {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 26px;
  background: linear-gradient(
    15deg,
    var(--border-color) 0%,
    var(--base-white) 100%
  );
  background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-block: 30px;
}
.page-hr {
  border: 0;
  margin: 0;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(
    90deg,
    var(--base-black) 0%,
    var(--base-white) 50%,
    var(--base-black) 100%
  );
}

@media (max-width: 768px) {
  section {
    margin-bottom: 30px;
  }

  .container {
    padding: 0 20px;
  }
}
