a,
button {
  cursor: pointer;
  display: inline-block;
}

.header__themes {
  width: 24px;
  height: 24px;
}

.moon-icon,
.star-icon {
  width: 24px;
  height: 24px;
  fill: var(--base-text);
  transition: transform 0.2s;
}

.star-icon {
  fill: transparent;
  stroke: var(--menu-color);
  display: none;
}

.moon-icon:hover {
  fill: var(--base-white);
  transform: scale(1.1);
}

.star-icon:hover {
  stroke: var(--base-white);
  transform: scale(1.1);
}

body.white .star-icon {
  display: block;
}

body.white .moon-icon {
  display: none;
}

/* -------- header__language ------- */
.header__language {
  width: 24px;
  height: 24px;
}

.header__language span {
  font-family: var(--third-family);
  font-size: 18px;
  font-weight: 600;
  color: var(--base-text);
  letter-spacing: 0.05rem;
  transition: transform 0.2s;
}

.header__language:hover span {
  color: var(--base-white);
  transform: scale(1.2);
}

.lang-en {
  display: none;
}
.lang-ru {
  display: block;
}

.header__language.is-en .lang-ru {
  display: none;
}
.header__language.is-en .lang-en {
  display: block;
}

/* -------------- btn --------------- */

.btn {
  color: var(--base-white);
  padding: 10px 30px;
  border-radius: 75px;
  border: 1px solid var(--border-color);
  font-family: var(--third-family);
  font-size: clamp(0.88rem, 2.2vw, 1rem);
  font-weight: 500;
  letter-spacing: 0.05rem;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--border-color);
}

.arrow-icon {
  width: 30px;
  height: 30px;
  stroke: var(--base-text);
  fill: transparent;
  position: fixed;
  bottom: 100px;
  right: 50px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease, stroke 0.2s, fill 0.2s;
}

.arrow-icon:hover {
  stroke-width: 2px;
  stroke: var(--base-black);
  fill: var(--base-white);
}

.arrow-icon.show {
  opacity: 1;
  visibility: visible;
}

/* -------------- card-btn --------------- */
.card__btn {
  background-color: var(--base-black);
}

@media (max-width: 768px) {
  .btn {
    font-weight: 700;
    letter-spacing: 0.12rem;
  }

  .arrow-icon {
    bottom: 100px;
    right: 30px;
  }
}
