body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/bg-blue1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  z-index: -1;
  opacity: 0.1;
}

/* -------------- /home ------------------- */

.about__text {
  max-width: 750px;
  text-align: center;
}

/* -------------- /about ------------------- */

.works__title-wrapper {
  margin-bottom: 30px;
}

.works__card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
}

.works__card {
  width: calc((100% - 40px) / 3);
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: var(--card-bg);
  opacity: 0;
  transform: scale(0);
  transition:
    transform 1.2s cubic-bezier(0.34, 1.56, 0.64, 1),
    opacity 1.2s ease-out;
  will-change: transform, opacity;
}

.works__card.animate {
  opacity: 1;
  transform: scale(1);
}
/* -------------------------------------- */

.works__card_img {
  display: block;
  width: 100%;
  height: 50%;
}

.works__card_img img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.card__info-wrapper {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;

  background: #263566;
}

.works__card-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}

.card__btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 1024px) {
  .home__container {
    border-radius: 0;
  }

  .works__card-wrapper {
    margin-left: 0;
  }

  .works__card {
    width: calc((100% - 20px) / 2);
  }
}

@media (max-width: 768px) {
  .home__container {
    padding-top: 0;
  }

  .home__text {
    text-align: center;
    margin-inline: clamp(20px, 9vw, 65px);
  }

  .works__title-wrapper {
    margin-bottom: 0px;
  }

  .works__card {
    width: 80%;
    padding: 10px;
    margin-inline: auto;
  }
}

@media (max-width: 425px) {
  .works__card {
    width: 100%;
    min-width: 280px;
  }
}
