header {
  display: block;
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  margin-inline: auto;
  overflow: hidden;
  z-index: 10;
  transition:
    width 0.4s ease 0.3s,
    left 0.4s ease 0.3s,
    transform 0.4s ease 0.3s,
    height 0.3s ease 0s;
}

header.scrolled {
  left: 0;
  width: 80px;
  height: 100vh;

  /* Скролл ВНИЗ: Сначала сжимаем ширину, потом выстреливаем высоту */
  transition:
    width 0.4s ease 0s,
    left 0.4s ease 0s,
    transform 0.4s ease 0s,
    height 0.4s ease 0.3s;
}

/* Синхронизация контента */
.header__container,
.header__menu-list {
  display: flex;
  transition: all 0.4s ease; /* Универсальная плавная смена gap и padding */
}

header.scrolled .header__container,
header.scrolled .header__menu-list,
header.scrolled .page-settings {
  flex-direction: column;
  gap: 50px; /* Уменьшил чуть-чуть, 100 может быть много для экрана */
  padding: 30px 10px;
  margin-left: 0;
  transition-delay: 0.3s;
}

header.scrolled .header__menu-list li {
  transform: rotate(45deg);
  transition: transform 0.4s ease 0.5s; /* Поворот букв в самом конце */
}

.header__container {
  width: 100%;
  max-width: 1300px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.header__logo-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0 0 10px var(--menu-color);
}

.header__menu-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__menu-link {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: var(--menu-color);
  transition: 0.3s;
}

.header__menu-link:hover,
.header__menu-link.activeLink {
  color: var(--base-white);
}

.page-settings {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 1024px) {
  header {
    position: static;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  header {
    height: 60px;
  }

  .header__container {
    justify-content: normal;
    gap: 30px;
    padding-block: 10px;
  }

  .header__logo-img {
    width: 40px;
    height: 40px;
  }

  .header__menu {
    display: none;
  }

  .page-settings {
    margin-left: auto;
  }
}
